{% extends 'base.html' %}

{% block conteudo %}
  <h1>Novo Veiculo</h1>
  <form action="#" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca">
    </div>
    <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo">
    </div>
    <div class="form-group">
        <label for="combustivel">Combustivel</label>
        <input type="text" class="form-control" id="combustivel" name="combustivel">
    </div>
    <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa">
    </div>
    <div class="form-group">
        <label for="chassi">Chassi</label>
        <input type="text" class="form-control" id="chassi" name="chassi">
    </div>
    <div class="form-group">
        <label for="ano">Ano Veiculo</label>
        <input type="text" class="form-control" id="ano" name="ano">
    </div>
    <div class="form-group">
        <label for="capacidade">Capacidade de pessoas</label>
        <input type="text" class="form-control" id="capacidade" name="capacidade">
    </div>
    
    <button type="submit" class="btn btn-success" role='button'>Salvar</button>
    <a href="/veiculos" class="btn btn-secondary"> Cancelar</a>
  </form>
  
{% endblock %}